@import './variables';
@import 'vuetify/styles';
@import './override';
@import './pages/editor.scss';

::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(1 2 3 / 40%);
  border-radius: 10px;
}
