html {
  overflow: hidden !important;

  .v-tooltip {
    .v-overlay__content {
      border-radius: 6px;
      padding: 2px 8px;
    }
  }

  .v-btn {
    text-transform: none;
  }

  .v-table {
    table {
      padding-bottom: 8px;

      th {
        font-weight: bold !important;
        text-transform: capitalize !important;
        white-space: nowrap;
      }

      td {
        border-bottom: 0 !important;
      }

      tbody {
        tr {
          font-size: 0.875em;
          transition: box-shadow 0.2s, transform 0.2s;

          &:not(.v-data-table__selected):hover {
            box-shadow: 0 3px 15px -2px rgba(0, 0, 0, 0.12);
            transform: translateY(-4px);
          }
        }
      }
    }
  }

  .v-expansion-panel__shadow {
    box-shadow: unset;
  }

  .v-theme--darkTheme {
    .v-card,
    .v-list,
    .v-field--variant-solo,
    .v-navigation-drawer--temporary{
      box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 15px !important;
    }

    .v-data-table__th {
      height: 42px !important;
      border: none !important;
      background-color: #1C2536 !important;
    }

    .v-expansion-panel-text {
      background-color: #111927 !important;
    }

    .md-editor .md-editor-preview {
      color: #ffffff;
    }
  }

  .v-theme--lightTheme {
    .v-data-table__th {
      height: 42px !important;
      border: none !important;
      background-color: #F8F9FA !important;
    }

    .v-expansion-panel-text {
      background-color: #ffffff !important;
    }
  }
}
